body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  margin: 20px auto;
  font-size: 24px;
  text-align: center;
}

#form-container {
  max-width: 800px;
  margin: 0 auto 50px auto;
}

.form {
  width: 800px;
  text-align: left;
}

#keyboard {
  border: 2px solid #8d8d8d;
  width: 1020px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info {
  margin-top: 20px;
  text-align: center;
  font-style: 16px;
}

.key {
  min-width: 50px;
  height: 50px;
  margin: 3px;
  padding: 5px;
  border: 1px solid #000;
  display: block;
  background-color: #f0f7f7;
  color: #8d8d8d;
  font-weight: 500px;
  text-align: center;
  font-size: 18px;
  -webkit-animation: all 1s ease;
          animation: all 1s ease;
  cursor: pointer;
}

.key:hover {
  background: #e8bcbc;
}

.key-ru {
  width: 100%;
  height: 100%;
}

.normal-ru,
.shift-ru,
.caps-ru,
.normal-en,
.shift-en,
.caps-en,
.capsShift-ru,
.capsShift-en {
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}

.backspace {
  min-width: 118px;
}

.capslock,
.enter,
.shiftleft,
.shiftright {
  min-width: 118px;
}

.arrowup,
.arrowdown,
.arrowleft,
.arrowright {
  max-width: 50px;
}

.space {
  min-width: 423px;
}

.controlleft,
.controlright {
  max-width: 50px;
}

.backspace,
.del,
.enter,
.shiftright,
.controlright {
  text-align: right;
}

.altleft,
.altright {
  min-width: 67.5px;
}

.tab,
.capslock,
.shiftleft,
.controlleft,
.metaleft,
.altleft {
  text-align: left;
}

.active {
  background: #f1cfcf;
  border-radius: 25%;
}
